a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}


/* 施設一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  margin: 0 auto;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.man-sauna {
  flex-flow: column;
}

.man-title {
  color: blue;
  font-size: 20px;
}

.woman-title {
  color: red;
  font-size: 20px;
}
.woman-sauna {
  flex-flow: column;
}

.sauna-room {
  color: orange;
  text-decoration: none;
}

.water-room {
  color: aqua;
}
.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}



.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //施設一覧 */

/* コメント一覧 */

.comment-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  
}

.comment-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.comment-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comment-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.comment-img-content {
  position: relative;
}

.comment-img {
  width: 33vh;
  height: 33vh;
}

.comment-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.comment-name {
  font-size: 2.5vh;
}


.heart-btn {
  display: flex;
  align-items: center;
}

.heart-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.heart-count {
  font-size: 2vh;
}

/* //コメント一覧 */