.user__wrapper{
  min-height: calc(100vh - 161px);
  text-align: center;
  
}

.page-heading {
  font-size: 32px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.table{
 width: 50%;
font-size: 12px;
margin: 0 auto;
border-collapse: separate;
border-spacing: 0px 1px;
}

.table__col1{
padding: 12px;
vertical-align: middle;
text-align: left;
border-bottom: #999 1px solid;
color: #fff;
width: 40px;
border-right: #999 1px solid;
background: #447791;
}

.table__col2{
  color: #111;
  padding: 12px;
  vertical-align: middle;
  text-align: left;
  border-bottom: #999 1px solid;
  font-size: 11px;
  width: 128px;
border-left: #fff 1px solid;
border-right: #999 1px solid;
background: #fff;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.user__card {
  width: 50%;
  height: 50%;
  overflow: scroll;
  margin: 0 auto;

}